@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-medium; /* Change from font-semibold to font-medium */
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-medium; /* Change from font-semibold to font-medium */
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-medium; /* Change from font-semibold to font-medium */
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }
  .fieldValue-class {
    white-space: pre-line;
  }
  
  p, span, h1, h2, h3, h4, h5, h6, a, li, div {
    @apply font-primary font-light; /* Set a lighter weight for general text */
  }
  .text-title {
    @apply text-[42px] font-bold leading-none text-white;
  }
  
  .text-subtitle {
    @apply text-3xl font-semibold leading-tight text-accent;
  }
  
  .text-content {
    @apply text-white/60 text-lg leading-relaxed;
  }
  
  .border-line {
    @apply border-b border-white/20 w-full my-6;
  }
  
}
